@model Employee_Mnagement_System.Models.EmployeeModel;

@{
    ViewData["title"] = "Add New Employee";
}

<h2>@ViewData["title"]</h2>

<form asp-action="Create">

    <div class="mb-3">
        <label asp-for="FirstName" class="form-label">First Name</label>
        <input asp-for="FirstName" type="text" class="form-control">
    </div>

    <div class="mb-3">
        <label asp-for="LastName" class="form-label">Last Name</label>
        <input asp-for="LastName" type="text" class="form-control">
    </div>

    <div class="mb-3">
        <label asp-for="EmailId" class="form-label">Email</label>
        <input asp-for="EmailId" type="text" class="form-control">
    </div>

    <div class="mb-3">
        <label asp-for="ContactNo" class="form-label">Contact No.</label>
        <input asp-for="ContactNo" type="text" class="form-control">
    </div>

    <div class="mb-3">
        <label asp-for="Age" class="form-label">Age</label>
        <input asp-for="Age" type="number" class="form-control">
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>

</form>
