@model IEnumerable<Employee_Mnagement_System.Models.EmployeeModel>;

@{
    ViewData["title"] = "Employee Details";
}

<h2>@ViewData["title"]</h2>

<!-- Button trigger modal for Save Data -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#employeeModal" onclick="openEmployeeModal('save', null)">Add New Employee</button>

<!-- Modal for Save Data -->
<div class="modal fade" id="employeeModal" tabindex="-1" aria-labelledby="employeeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="employeeModalLabel">Add New Employee</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <form>
                <div class="modal-body">

                    <div class="row">
                        <div class="col-5">
                            <div class="row">
                                <div class="col-12">
                                    <label for="imageFile" class="form-label">Profile Image</label>

                                    <div class="mx-auto" style="height: 225px; width: 225px;">
                                        <!-- Image preview -->
                                        <img id="imagePreview" src="images/profile.png" alt="Image Preview" style="height:100%; border-radius: 50%;">
                                    </div>

                                    <div class="mt-2">
                                        <!-- Add new Profile Image -->
                                        <button id="add-profile" type="button" class="btn btn-outline-success w-100" onclick="AddProfile()">Add Profile Image</button>
                                        <input id="imageFile" name="imageFile" type="file" class="form-control visually-hidden" onchange="previewImage(this)">

                                        <div class="row">
                                            <div class="col-6">
                                                <!-- Change profile image -->
                                                <button type="button" id="change-profile" class="btn btn-outline-warning w-100" onclick="ChangeProfile()" style="display: none;">Change</button>
                                            </div>
                                            <div class="col-6">
                                                <!-- Remove Profile Image -->
                                                <button type="button" id="remove-profile" class="btn btn-outline-danger w-100" onclick="RemoveProfile()" style="display: none;">Remove</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-7">

                            <div class="row">
                                <div class="col-12">
                                    <input id="empId" name="Id" type="number" class="form-control" autocomplete="off" hidden>
                                </div>
                            </div>

                            <div class="row mb-2">
                                <div class="col-12">
                                    <label for="firstName" class="form-label">First Name</label>
                                    <input id="firstName" name="FirstName" type="text" class="form-control" autocomplete="off">
                                </div>
                            </div>

                            <div class="row mb-2">
                                <div class="col-12">
                                    <label for="lastName" class="form-label">Last Name</label>
                                    <input id="lastName" name="LastName" type="text" class="form-control" autocomplete="off">
                                </div>
                            </div>

                            <div class="row mb-2">
                                <div class="col-12">
                                    <label for="emailId" class="form-label">Email</label>
                                    <input id="emailId" name="EmailId" type="text" class="form-control" autocomplete="off">
                                </div>
                            </div>

                            <div class="row mb-2">
                                <div class="col-8">
                                    <label for="contactNo" class="form-label">Contact No.</label>
                                    <input id="contactNo" name="ContactNo" type="text" class="form-control" autocomplete="off">
                                </div>
                                <div class="col-4">
                                    <label for="age" class="form-label">Age</label>
                                    <input id="age" name="Age" type="text" class="form-control" autocomplete="off">
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="saveEmployeeButton" type="button" class="btn btn-success" onclick="saveEmployee()">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<hr/>

@if (Model.Any())
{
    <table class="table table-responsive hover order-column " id="emp-table" style="width:100%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Profile</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Contact No</th>
                <th>Email Id</th>
                <th>Age</th>
                <th>Actions</th>
            </tr>
        </thead>

    </table>
}
else
{
    <h2>No Data Available</h2>
}

@* JavaScript and Ajax *@
<script>

    $(document).ready(function () {
        debugger;
        get();
    });

    @* display table body *@
    function get() {

        // Destroy the existing DataTable
        if ($.fn.DataTable.isDataTable('#emp-table')) {
            $('#emp-table').DataTable().destroy();
        }

        $.ajax({
            type: "GET",
            url: "/EmployeeManagement/EmployeesList",
            success: function (data) {
                $('#emp-table').DataTable({
                    data: data,
                    columns: [
                        { data: 'id' },
                        {
                            data: 'profileImage',
                            render: function (data, type, row) {
                                return '<img src="/images/' + data + '" width="25" height="25" alt="Image" />';
                            }
                        },
                        { data: 'firstName' },
                        { data: 'lastName' },
                        { data: 'emailId' },
                        { data: 'contactNo' },
                        { data: 'age' },
                        {
                            data: null,
                            render: function (data, type, row) {
                                return '<button type="button" onclick="openEmployeeModal(\'edit\', ' + row.id + ')" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#employeeModal">Edit</button> | <button type="button" onclick="deleteEmployee(' + row.id + ')" class="btn btn-primary btn-sm">Delete</button>';
                            }
                        }
                    ]
                });
            }
        });
    }

    // Function for save anew employee
    function saveEmployee() {

        var employeeData = {
            FirstName: $('#firstName').val(),
            LastName: $('#lastName').val(),
            EmailId: $('#emailId').val(),
            ContactNo: $('#contactNo').val(),
            Age: $('#age').val(),
        }

        var formData = new FormData();
        formData.append("model", JSON.stringify(employeeData));
        formData.append("file", $("#imageFile")[0].files[0]);

        $.ajax({
            type: "POST",
            url: "/EmployeeManagement/Create",
            data: formData,
            contentType: false,
            processData: false,
            Cache: false,
            success: function (data) {
                console.log("Employee saved successfully!");

                clearForm();

                $('#employeeModal').modal('hide');
                
                // Reload the DataTable
                get();

            },
            error: function (error) {
                console.error("Error saving employee:", error);
            }
        });
    }

    // Function for update employee
    // Function to populate form fields by ID
    function populateUpdateModal(employeeId) {
        debugger;
        $.ajax({
            type: "GET",
            url: "/EmployeeManagement/populateEditData/" + employeeId, // Update URL based on your routing
            success: function (employee) {

                // Populate form fields with employee details
                $('#empId').val(employee.id);
                $('#firstName').val(employee.firstName);
                $('#lastName').val(employee.lastName);
                $('#emailId').val(employee.emailId);
                $('#contactNo').val(employee.contactNo);
                $('#age').val(employee.age);

                var imagePreview = employee.profileImage
                    ? '/images/' + employee.profileImage
                    : 'Upload Image';
                $('#imagePreview').attr('src', imagePreview).show();
                
            },
            error: function (error) {
                console.error("Error fetching employee details:", error);
            }
        });

    }

    // Function for update employee
    function updateEmployee() {
        var employeeId = {
            Id: $('#empId').val()
        };

        debugger;

        var employeeData = {
            FirstName: $('#firstName').val(),
            LastName: $('#lastName').val(),
            EmailId: $('#emailId').val(),
            ContactNo: $('#contactNo').val(),
            Age: $('#age').val(),
        };

        debugger;

        var formData = new FormData();
        formData.append("Id", employeeId.Id);
        formData.append("model", JSON.stringify(employeeData));
        formData.append("file", $("#imageFile")[0].files[0]);

        debugger;

        $.ajax({
            type: "POST",
            url: "/EmployeeManagement/Edit",
            data: formData,
            contentType: false,
            processData: false,
            success: function (data) {
                // Assuming the controller returns a JSON result, check for success or error
                if (data === "Index") {
                    alert("Employee updated successfully!");
                    $('#employeeModal').modal('hide');
                    
                    get();

                } else {
                    // Handle errors or show appropriate messages
                    console.error("Error updating employee:", data);
                    alert("Failed to update employee. Please check the console for details.");
                }
            },
            error: function (error) {
                console.error("Error updating employee:", error);
                alert("Failed to update employee. Please check the console for details.");
            },
        });
    }

    // Function for delete existing new employee
    function deleteEmployee(employeeId) {
        if (confirm("Are you sure you want to delete this employee?")) {
            $.ajax({
                type: "POST", // or "GET" depending on your server-side implementation
                url: "/EmployeeManagement/Delete/" + employeeId,
                success: function (data) {
                    alert("Employee deleted successfully!");

                    get();
                },
                error: function (error) {
                    console.error("Error deleting employee:", error);
                }
            });
        }
    }

    // Function to Reset all input fields in the form
    function clearForm() {
        // Clear form fields here
        $('#empId').val('');
        $('#firstName').val('');
        $('#lastName').val('');
        $('#emailId').val('');
        $('#contactNo').val('');
        $('#age').val('');
        $('#imageFile').val('');
        $('#imagePreview').attr('src', 'images/profile.png').hide();
        showButtons(false);
    }

    // Function to open the employee modal based on action ('save' or 'edit')
    function openEmployeeModal(action, employeeId) {

        if (action === 'save') {

            // Set modal title for 'save' action
            $('#employeeModalLabel').text('Addd New Employee');

            // Clear form fields when opening for 'save' action
            clearForm();

            // Set default image for 'save' action
            $('#imagePreview').attr('src', 'images/profile.png').show();
            showButtons(false);

            // Set onclick event for the Save button
            $('#saveEmployeeButton')
                .attr('onclick', 'saveEmployee()')
                .text('Save Changes');

        } else if (action === 'edit') {

            // Set modal title for 'edit' action
            $('#employeeModalLabel').text('Update Employee');

            // Populate the update modal with existing employee data
            populateUpdateModal(employeeId);

            // Set the image source and show/hide buttons
            showButtons(true);

            // Set onclick event for the Save button
            $('#saveEmployeeButton')
                .attr('onclick', 'updateEmployee()')
                .text('Update Changes');

        }

        // Open the modal
        $('#employeeModal').modal('show');
    }

    // Function to preview image in modal
    function previewImage(input) {
        var file = input.files[0];

        if (file) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#imagePreview').attr('src', e.target.result).show();
                showButtons(true);
            };

            reader.readAsDataURL(file);
        }
    }

    @* Function to add new the profile image *@
    function AddProfile() {
        $('#imageFile').click();
    }

    @* Function to change the profile image *@
    function ChangeProfile() {
        $('#imageFile').click();
    }

    @* Function to remove the profile image and reset form fields *@
    function RemoveProfile() {

        @* Reset profile image *@
        $('#imagePreview').attr('src', 'images/profile.png');

        @* clear image file input field *@
        $('imageFile').val('');

        @* hide corresponding buttons *@
        showButtons(false);
    }

    @* Function to show/hide profile image action buttons based on whether an image is present *@
    function showButtons(hasImage) {

        @* Show/hide profile image action buttons *@
        $('#add-profile').css('display', hasImage ? 'none' : 'block');
        $('#change-profile').css('display', hasImage ? 'block' : 'none');
        $('#remove-profile').css('display', hasImage ? 'block' : 'none');
    }

</script>


